<nav>
  <div
    class="ui top stackable inverted menu"
    style="border-radius: 0px !important"
  >
    <a class="header item" href="/">
      <i class="home alternate icon"></i>
      Tupã Botanical
    </a>
    <div class="right menu">
      <a class="item" href="passwordChange" id="nav-icon">
        <i class="key alternate icon"></i>
        Change Password
      </a>
      <a class="item" href="delete" id="nav-icon">
        <i class="trash icon"></i>
        Delete Account
      </a>
    </div>
  </div>
</nav>
