<nav>
    <div class="ui top stackable inverted menu" style="border-radius: 0px !important;">
        <a class="header item" href="/">
            <i class="home alternate icon"></i>
            Tupã Botanical
        </a>
        <div class="right menu">
            <a class="item" href="signin" id="nav-icon">
                <i class="sign in alternate icon"></i>
                Sign In
            </a>
            <a class="item" href="register" id="nav-icon">
                <i class="user alternate icon"></i>
                Register
            </a>
            <a class="item" href="dashboard" id="nav-icon">
                <i class="chalkboard alternate icon"></i>
                Dashboard
            </a>
        </div>
    </div>
</nav>