<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

  <body>
    {% include 'navbar.html' %}

    <div class="ui center aligned container">
      <div class="ui yellow segment" id="login-segment">
        <div class="ui two column stackable center aligned grid relaxed">
          <div class="middle aligned row">
            <div class="column">
              <img
                src="../static/images/tupalogo.png"
                class="ui bordered image"
              />
            </div>
            <div class="ui vertical divider"></div>
            <div class="column">
              <form
                class="ui form"
                id="register-form"
                method="POST"
                action="/signup"
              >
                <div class="">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input
                        type="text"
                        name="email"
                        placeholder="E-mail address"
                        id="email-address"
                        required
                      />
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        id="password-one"
                        required
                      />
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input
                        type="password"
                        name="password2"
                        placeholder="Confirm Password"
                        id="password-two"
                        required
                      />
                    </div>
                  </div>
                  <button
                    class="ui fluid large teal submit button"
                    type="submit"
                  >
                    Register
                  </button>
                  <div class="g-recaptcha" data-sitekey="{{ pub_key }}"></div>
                  <div class="field" style="margin-top: 10px">
                    <span>{{error}}</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../static/js/form-register.js"></script>
  <script src="../static/js/captcha-resize.js"></script>
</html>
